/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Title styles */
h1#title {
  font-size: 2.5em;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#title-number {
  color: green;
}

/* Link styles */
a {
  display: inline-block;
  margin-bottom: 20px;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #2980b9;
}

/* Section title styles */
h2 {
  font-size: 1.5em;
  color: #333;
  margin-top: 20px;
}

/* Problem and answer styles */
p {
  font-size: 1.2em;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Answer display button styles */
#show-answer-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#show-answer-button:hover {
  background: #2980b9;
}

/* Additional styles */
.controls a {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.controls a:hover {
  background: #2980b9;
}

/* Learned words page styles */
h1#learned-title {
  font-size: 2.5em;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

/* Button styles */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #2980b9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
