

/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  /* 背景とフォントの基本スタイル */
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    padding: 20px;
  }
  
  /* タイトルスタイル */
  h1#title {
    font-size: 2.5em;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  #title-number {
    color: green;
  }
  
  /* リンクスタイル */
  a {
    display: inline-block;
    margin-bottom: 20px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #2980b9;
  }
  
  /* セクションタイトルスタイル */
  h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
  }
  
  /* 問題と解答のスタイル */
  p {
    font-size: 1.2em;
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* 解答表示ボタンのスタイル */
  #show-answer-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  #show-answer-button:hover {
    background: #2980b9;
  }
  
  /* 解答のスタイル */
  #answer {
    display: none; /* 最初は非表示 */
    font-size: 1.2em;
    margin-top: 10px;
    padding: 10px;
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* ナビゲーションボタンのスタイル */
  .controls a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .controls a:hover {
    background: #2980b9;
  }
  