body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: white;
  color: #333;
  padding: 20px;
  line-height: 1;
}

/* タイトルスタイル */
h1#title {
  background-color: #eeeeee;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
}

#title-number {
  color: green;
}

/* リンクスタイル */
a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  background-color: #4444ff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px 20px;
  transition: all 0.2s linear;
}
a:hover {
  background-color: #6666ff;
}

/* セクションタイトルスタイル */
h2 {
  font-size: 1.5em;
  color: #333;
  margin-top: 20px;
}

/* 問題と解答のスタイル */
p#question {
  font-size: 1.2em;
  margin: 0 20px 20px;
  padding: 10px;
  background: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* 解答のスタイル */
p#answer-text {
  display: none; 
  font-size: 1.2em;
  margin: 0 20px 20px;
  padding: 10px;
  background: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  background-color: #4444ff;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  margin: 0 20px 20px;
  transition: background-color 0.3s; /* ホバー時のアニメーション */
}

button:hover {
  background-color: #6666ff; /* ホバー時の背景色 */
}



.controls a:hover {
  background: #2980b9;
}

h2#question,
h2#answer,
h2#operation{
  font-size: 24px;
  margin: 0 20px 20px;
  padding: 6px 12px;
  border-left: 6px solid #4444ff;
  border-bottom: 1px dotted #666666;
}