<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>単語帳</title>
    <link rel="stylesheet" href="/test-style.css" />
  </head>
  <body>
    <h1 id="title">WordTree<span id="title-number">3000</span></h1>
    <a href="/">戻る</a>
    <h2>問題</h2>
    <p id="question"><!-- question --></p>
    <h2>解答</h2>
    <button id="show-answer-button">解答を表示</button>
    <p id="answer"><!-- answer --></p>
    <h2>操作</h2>
    <div class="controls"><!-- controls --></div>
    <script src="/exercise.js"></script>
  </body>
</html>

