<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>単語帳</title>
    <link rel="stylesheet" href="/word-style.css" />
  </head>
  <body>
    <h1 id="title">WordTree<span id="title-number">3000</span></h1>
    <a href="/exercise" id="exercise">テストを始める</a>
    <h2 id="questions-title">問題一覧</h2>
    <table id="questions">
      <thead>
        <tr>
          <th>問題</th>
          <th>解答</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- cards -->
      </tbody>
    </table>
    <h3 id="create-title">新規作成</h3>
    <form action="/create" method="post" id="create">
      <input type="text" name="question" placeholder="問題" />
      <input type="text" name="answer" placeholder="解答" />
      <button type="submit" id="create-button">作成</button>
    </form>
  </body>
</html>
